{% extends "base.html" %}

{% block contenido %}

<h2>📚 {{ actividad }}</h2>

<p><b>Docente:</b> {{ docente }}</p>
<p><b>Periodo:</b> {{ periodo }}</p>

<hr>

<table>
    <tr>
        <th>Matrícula</th>
        <th>Nombre</th>
        <th>Carrera</th>
        <th>Semestre</th>
        <th>Género</th>
    </tr>

    {% for a in alumnos %}
    <tr>
        <td>{{ a[0] }}</td>
        <td>{{ a[1] }}</td>
        <td>{{ a[2] }}</td>
        <td>{{ a[3] }}</td>
        <td>{{ a[4] }}</td>
    </tr>
    {% endfor %}

</table>

<br>

<a href="/dashboard">
    <button>⬅ Volver</button>
</a>

{% endblock %}